# Sensitive files
*.pem
.env

# Terraform files
*.tfstate
*.tfstate.*
.terraform/

# Python
__pycache__/

# Node.js / React
node_modules/
dist/
build/
npm-debug.log

# Editor / OS files
.vscode/
.DS_Store
